
<br />
<p>Welcome <span class="accent-text" soothe-model="Dashboard" soothe-prop="username innerHTML"></span>!</p>

<div class="page-animation-right" soothe-model="*" soothe-attr="* class {{page-animation-none}}">
    <table class="no-border">
        <tbody>
            <tr>
                <td>
                    <span soothe-model="Dashboard" soothe-prop="date innerHTML"></span>
                </td>
                <td>
                    <span soothe-model="Dashboard" soothe-prop="days innerHTML"></span>
                    Days Left
                </td>
            </tr>
                <!-- <tr>
                    <td>Charges <span soothe-model="Dashboard" soothe-prop="charges innerHTML"></span></td>
                    <td>Expenses 
                        <span soothe-model="Dashboard" soothe-prop="balanceColor style {{color:{{value}}}}">
                            <span soothe-model="Dashboard" soothe-prop="expenses innerHTML"></span>
                        </span>
                    </td>
                </tr> -->
        </tbody>
    </table>
    <hr/>

    <div id="chart">
    </div>
</div>