<span soothe-tmplt="CategoryItem" hidden>
    <span soothe-model="_" soothe-del="* evt" soothe-evt="unbind">
        <button style="margin:2px;" soothe-model="_" soothe-prop="id name;name innerText" onclick="removeCategory(this.name)">
        </button>
    </span>
</span>
<select hidden>
    <optgroup soothe-tmplt="TypeSelector">
        <option soothe-model="_" soothe-prop="id value;name innerHTML"></option>
    </optgroup>
</select>
<datalist soothe-tmplt="LabelSelector" hidden>
    <option soothe-model="_" soothe-prop="name value;name innerHTML"></option>
</datalist>

<div class="page-animation-right" soothe-model="*" soothe-attr="* class {{page-animation-none}}">
    <br />
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" name="Date" soothe-model="Accounts" soothe-prop="date value" soothe-input="date value">
                </td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>
                    <input type="number" name="Amount" placeholder="Amount" soothe-model="Accounts" soothe-prop="amount value" soothe-input="amount value">
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td>
                    <select soothe-model="Accounts" soothe-prop="typeId value" soothe-input="typeId value">
                        <option value="" selected disabled hidden>&lt;Pick Category&gt;</option> 
                        <optgroup label="Types" soothe-model="Accounts" soothe-comp="transactionTypes TypeSelector" soothe-list>
                        </optgroup>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Payment Method</td>
                <td>
                    <input placeholder="Payment Method" list="paymentMethod-list" type="text" soothe-model="Accounts.paymentMethod" soothe-prop="name value" soothe-input="name value">
                    <datalist id="paymentMethod-list" soothe-model="Accounts" soothe-comp="paymentMethodLabels LabelSelector"></datalist>
                    <!-- <select soothe-model="Accounts" soothe-prop="paymentMethodId value" soothe-input="paymentMethodId value">
                        <option value="" selected disabled hidden>&lt;Pick Payment Method&gt;</option> 
                        <optgroup label="Payment Method" soothe-model="Accounts" soothe-comp="paymentMethodLabels LabelSelector" soothe-list>
                        </optgroup>
                    </select> -->
                </td>
            </tr>
            <tr>
                <td>Categories</td>
                <td>
                    <!-- <select onchange="addCategory(this);">
                        <option value="" selected disabled hidden>&lt;Add a sub category&gt;</option> 
                        <optgroup label="Categories" soothe-model="Accounts" soothe-comp="categoryLabels LabelSelector" soothe-list>
                        </optgroup>
                    </select> -->
                    <form soothe-submit="addCategory" soothe-enter="addCategory">
                        <input placeholder="Category" list="categories-list" type="text" soothe-model="Accounts" soothe-prop="categorySelect value" soothe-input="categorySelect value">
                        <datalist id="categories-list" soothe-model="Accounts" soothe-comp="categoryLabels LabelSelector"></datalist>
                        <button type="submit">Add</button>
                    </form>
                    <hr />
                    <div id="categories" soothe-model="Accounts.categories" soothe-comp="* CategoryItem append" soothe-evt="bind">
                        
                    </div>
                    
                </td>
            </tr>
            <tr>
                <td>Memo</td>
                <td>
                    <textarea name="Memo" soothe-model="Accounts" soothe-prop="memo value" soothe-input="memo value">
                    </textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <span soothe-model="Accounts" soothe-func="* updateSelectors" soothe-evt="bind" soothe-static></span>
    <div>
        <button onclick="cancelEdit(this.id)" soothe-model="Accounts" soothe-prop="id id">Cancel</button>
        <button onclick="confirmDeleteTransaction(this.id)" soothe-model="Accounts" soothe-prop="id id">Delete</button>
        <button onclick="saveTransaction();">Save</button>
    </div>
</div>