<span soothe-tmplt="ChartTemplate" hidden>
    <div soothe-model="_" soothe-prop="id id" soothe-func="title generateChart" soothe-attr="title soothe-static {{true}}"></div>
    <!-- <div soothe-model="_" soothe-func="title log"></div>> -->
</span>

<div class="page-animation-right" soothe-model="*" soothe-attr="* class {{page-animation-none}}">
    <p>
        <a soothe-model="Accounts" soothe-attr="accountsLink href" soothe-route><span class="fas fa-edit"></span>Edit Transactions</a>
        <br />
    </p>

    

    <div id="Charts" soothe-model="Accounts" soothe-comp="charts ChartTemplate dict" soothe-evt="bind">

    </div>
</div>